* {
  margin: 0;
  padding: 0;
}
.body-doc {
  /* display: flex; */
}
/* header start  */
.side-nav-mbl {
  display: none;

  flex-direction: row;
}
#header-text {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: small;
  border-bottom: 4px solid #7bae23;
}
.strip-header {
  color: #000;
  text-transform: capitalize;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d7dbdd;
  height: 25px;
}

.strip-header-text {
  margin: 0 10vw 0 auto;
}

.strip-header-text > * {
  padding-left: 0.5vw;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 13px;
}

.side-nav-menu-text {
  display: none;
}

.close-btn,
.menu-button {
  display: none;
}

.nav-main {
  margin: 10px auto;
  width: 1100px;
  margin-top: 30px;
  /* height: 70px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo img {
  max-height: 35px !important;
}

.btn-search {
  width: 60px;
  height: 35px;
  color: white;
  background-color: red;
  border: 0px solid red;
}
.person {
  display: none;
}
.text-box {
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 4px;
  margin-right: 16px;
  background: #ddd;
  /* font-size: 15px; */
  border: none;
  cursor: pointer;
  margin: 0;
  width: 300px;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.cart {
  right: 50px;
  font-size: 40px;
}
.cart-count {
  position: absolute;
  color: white;
  margin: -15px 0 0 -10px;
  background: tomato;
  border-radius: 40px;
  width: 20px;
  text-align: center;
  align-items: center;
  font-size: 18px;
}

.nav-menu-wrapper {
  margin: 10px auto;
  width: 1100px;
}
.main-navigation-ul {
  background-color: #7bae23;
}
.main-navigation-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-navigation-ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* height: 25px; */
  display: inline-block;
  padding: 10px 0;
}
.main-navigation-ul li a {
  text-decoration: none;
  color: white;
  padding: 0px 0px;
  font-size: 12px;
}
.More-block div li:hover{
  text-decoration: underline;
}
.more-block-hover:hover {
  max-height: inherit;
  opacity: 1;
}
.More-block  li {
  display: inline-block;
  width:200px;
  /* height: 10px; */
}

.More-block > li > ul{
  display: block;
  /* border: 5px solid black; */
  /* background-color: #000; */
  list-style-type: none;
  flex-direction: column;
}
.main-navigation {
  position: relative;
}
.More-block {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.71);
  border-top: 10px solid skyblue;
  position: absolute;
  width: 100%;
  padding: 10px 0px;
}
.More-block {
  display: none;
}
/* header styling */

/* main tag styling */
.main {
  margin: 0 auto;
  width: 1100px;
}

/* slider styling  */

.main-images {
  display: flex;
  flex-direction: row;
}
.main-images * {
  margin-right:  2px ;
}
.main-images1{
  display: flex;
  flex-direction: column;
}
.main-images1 div img {
  width: 300px;
  height: 233px;
}
.main-images2 img {
  width: 795px;
  height: 470px;
}

/* slider styling end  */

/* features styling */

.features {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-evenly;
  align-items: baseline;
}
.features1Body {
  display: flex;
  flex-direction: row;
  flex: 4;
  padding: 15px;
}
.features1Body i {
  margin: 10px 10px 0 10px;
}

.features2Body {
  display: flex;
  flex-direction: row;
  flex: 4;
  padding: 15px;
  /* justify-content: space-around; */
}
.features2Body i {
  margin: 10px 10px 0 10px;
}
.features3Body {
  display: flex;
  flex-direction: row;
  flex: 4;
  padding: 15px;
  /* justify-content: space-around; */
}
.features3Body i {
  margin: 10px 10px 0 10px;
}

/* features styling end */

/*  FMCG styling*/

.FMCGgoods {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 246, 246, 0.829);
  margin-top: 30px;
}
.FMCG-heading {
  margin: 20px;
}
.FMCG-heading .txt {
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 20px;
  text-transform: uppercase;
}
.radioBtns {
  margin-top: 20px;
  float: right;
  border: 0px;
  width: 70px;
  /* height: 3em; */
}
.FMCG2-content ul {
  display: flex;
  flex-direction: row !important;
  list-style-type: none;
  margin: 20px 10px 10px 10px;
}
.FMCG2-content ul > div > li {
  margin-right: 25px;
}
.FMCG2-content ul > div {
  display: flex;
  flex-direction: row;
}

.FMCG2_1Text {
  margin-left: 10px;
}
.FMCG2_1Text a {
  text-decoration: none;
  font-size: small;
  color: rgb(158, 157, 157);
  font-weight: bold;
}
.FMCG2_1Text div {
  margin-top: 3px;
  text-decoration: none;
}
.FMCG2_1Text div > h4{
  display: inline;
}
.FMCG2_1Text div > input {
  /* float: right; */
  margin-left: 5px;
  display: inline;
  background-color: rgb(233, 89, 36);
  border-color: tomato;
  color: white;
  border-radius: 19px;
  height: 35px;
  text-align: center;
  width: 100px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.FMCG2_1Text div > span {
  color: rgb(158, 157, 157);
  font-size: small;
}
.FMCG2_1Text h4 {
  font-size: large;
}
.FMCGimg {
  width: 260px;
}
.FMCGimg:hover {
  /* padding: 2px; */
  box-shadow: 5px 5px 8px 4px gray;
}
.FMCG-slider {
  display: flex;
  overflow: hidden;
  margin-right: 10px;
}
.FMCG-slider *{
  margin-right: 10px;
}

/*  FMCG styling Ending*/

/* categories */

.categories-wrapper {
  margin-top: 50px;
  background-color: rgba(250, 246, 246, 0.829);
  width: 100%;
}
.categories-wrapper > h3 {
  padding-top: 30px;
  padding-left: 20px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

.categories-wrapper-column {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.column1 {
  margin-right: 30px;
}
.column1_,
.column2_ {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.column1_,
.column2_ {
  background-color: white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 2px;
}
.column1_ > div > img,
.column2_ > div > img {
  width: 200px;
  height: 200px;
}
.column1_Text {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding: 10px 10px;
}
.angleIcon {
  display: inline-block;
  color: #9da6aa;
  padding-top: 15%;
  padding-right: 10px;
}
.heading > span {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  padding: 5px;
}

.heading > p {
  color: #9da6aa;
}
/* categories styling end */

.para {
  margin-top: 50px;
  background-color: rgba(250, 246, 246, 0.829);
  padding: 25px;
}
.para h1 {
  color: black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.para p {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #9da6aa;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* footer */
.footerContainer {
  margin: 10px auto;
  width: 90%;
}
.page_footer {
  height: 400px;
  background-color: #272723;
  display: flex;
  flex-direction: column;
  color: white;
}
.footerBox1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
}
.horizontalLine {
  margin: 10px;
}
.footerBox2 {
  margin-top: 40px;
}
.footerBox1 div ul * {
  text-decoration: none;
  list-style-type: circle;
  color: white;
}

.box3Footer ul {
  margin-left: -10px;
}
.box3Footer ul li {
  text-decoration: none;
  list-style-type: none;
  color: white;
  margin-left: 100px;
  margin: 0;
  padding: 0;
}
.footerBox1 div ul *:hover {
  text-decoration: underline;
}

.footerBox1 div {
  margin-top: 20px;
}
.footerBox1 div ul {
  margin-top: 10px;
}
.footerBox1 div ul li {
  margin-left: 14px;
}
.horizontalLine {
  margin: 10px 0;
}
.googlePlay {
  width: 50%;
  height: 50%;
  margin-top: 20px;
}
.appStore {
  width: 50%;
  height: 50%;
  margin-top: 20px;
}

/* responsiveness */

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  .body-doc {
    width: 360px;
    display: flex;
    flex-direction: row;
  }
  .for-mbl {
    width: inherit;
    /* position: fixed; */
  }
  .header-wrapper {
    /* margin-top: 100px; */
    top: 0;
    position: fixed;
    width: 360px;
  }

  .nav-main {
    width: 340px;
    height: 100px;
    padding: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: white;
    padding-top: 20px;
  }
  .fa-shopping-cart {
    margin-right: 5px;
  }
  .logo img {
    height: 23px;
  }
  .menu-button {
    display: inline;
    font-size: 27px;
    cursor: pointer;
  }
  .nav-main .slider {
    display: none;
  }

  .nav-main :nth-child(1) {
    order: 1;
  }

  .nav-main :nth-child(2) {
    order: 4;
  }

  .nav-main :nth-child(3) {
    order: 2;
    display: inline;
    margin-left: 90px;
    font-size: 20px;
  }
  .nav-main :nth-child(4) {
    display: none;
  }

  .nav-main :nth-child(5) {
    order: 3;
    font-size: 20px;
  }

  .searchBar .btn-search {
    width: 60px;
    height: 35px;
    border-radius: 5px;
  }
  .searchBar .text-box {
    width: 270px;
    margin-right: 10px;
    height: 35px;
    color: black;
    border-radius: 5px;
  }

  .main {
    margin: 0 auto;
    width: 360px;
  }

  /* slider start */
  .main-images-slider {
    margin-top: 200px;
    flex-direction: column;
    width: 350px;
  }

  .main-images :nth-child(1) {
    order: 2;
    width: 340px;
    height: calc(250px / 2);
  }
  .main-images :nth-child(2) {
    order: 1;
  }
  .main-images1 {
    display: flex;
    flex-direction: row;
    /* width: 360px; */
    margin: 10px;
  }
  .main-images2 {
    margin: 0 10px;
  }
  .main-images1 div img {
    width: 165px !important;
    height: calc(44vw / 2);
  }
  /* slider end */

  /* features styling */
  .features {
    display: flex;
    flex-direction: column;
  }
  .features1Body i,
  .features2Body i,
  .features3Body i {
    padding-top: 25px;
  }
  .features * {
    margin: 10px 10px;
    padding: 5px 0;
    background-color: #f1f4f5;
  }

  .features3Body {
    width: 340px;
  }

  /* features end  */

  /* catergories styling  start */
  .categories-wrapper {
    margin-top: 50px;
    /* width: 100vw; */
  }

  .categories-wrapper-column {
    display: flex;
    flex-direction: column !important;
  }

  .column1_ {
    width: 100%;
  }
  .column1 {
    margin-top: 20px;
  }
  .column1_,
  .column2_ {
    z-index: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 15px;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    width: 322px;
    border-radius: 2px;
  }
  .column1_ > div > img,
  .column2_ > div > img {
    width: 150px;
    height: 150px;
  }
  .heading > span {
    display: inline-block;
    margin-top: 25px;
    font-size: 12px;
    font-weight: bold;
  }
  .heading > i {
    font-size: 20px;
    float: right;
    margin-top: 45px;
    padding-right: 35px;
    color: #9da6aa;
  }
  .heading > p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .angleIcon {
    margin-right: 5px;
  }
  .angleIcon i {
    font-size: 40px;
  }

  /* catergories styling  end */

  /* footer styling  start */

  .page_footer {
    height: auto;
    width: 340px;
    margin: 0 auto;
  }
  .footerBox1 {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .googlePlay {
    width: 30%;
    height: 50%;
    margin-top: 20px;
  }
  .appStore {
    width: 30%;
    height: 50%;
    margin-top: 20px;
  }

  /* footer styling  end */

  #side-nav-mbl {
    display: inline-block;
    /* background-color: #9da6aa; */
    /* overflow-x: hidden; */
    width: 300px;
    transition: 0.5s;
    margin-left: -300px;
  }
  .side-nav-wrapper {
    width: 280px;
    padding-top: 20px;
    margin: 0;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .nav-ul-list {
    list-style-type: none;
  }
  .side-nav-Menu-mbl {
    
    display: inline-block;
    background-color: #7bae23;
    font-size: 30px;
    text-decoration: none;
    color: white;
    width: 180px;
    height: 45px;
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 15px;
    position: relative;
    bottom: 5px;
  }
   .side-nav-Menu-mbl span{
    position: relative;
    bottom: 5px;
   }
  .close-btn-mbl {
    position: absolute;
    display: inline-block;
    font-size: 36px;
    text-decoration: none;
    color: white;
    position:absolute;
    right: 10px;
    bottom: 5px;
  }
  .nav-ul-list {
    display: block;
    background-color: white !important;
      /* margin-left: 20px; */
}
.nav-ul-list li{
  height: 35px;
  width: 100%;
  padding-left: 10px;
}
.nav-ul-list li a{
  text-decoration: none;
}
    
  /* .sidenavMenu-mbl {
    top: 200px;
    display: inline-block;
    margin-top: 10px;
    right: 100px;
    font-size: 20px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
  } */

  .FMCGgoods {
    display: none;
  }
  .nav-wrapper {
    display: none;
  }
}



