*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.6;
}
#header{
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: 'times new roman', times;
    font-size: small;
    border-bottom: 4px solid #7bae23;
}
.strip{
    color: #000;
    text-transform: capitalize;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d7dbdd;
    height: 25px;

}
.container{
    margin: 0 10vw 0 auto;
     order: 2;
}
.container > *{
    padding-left: 0.5vw;
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 13px;
}
.main{
    margin: 10px auto;
    width: 90%;
}
.navMain{
    margin-top: 30px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo img{
    max-height: 35px !important;
    vertical-align: middle;
    border: 0;
}
.textBox{
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 4px;
    margin-right: 16px;
    background: #ddd;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin:0;
    width:400px;
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btnSearch{
    box-sizing: border-box;
    width:60px;
    height: 35px;
    right:100px;
    color: white;
    background-color: red;
    border: 0px solid red;
}
.cart{
    right: 50px;
}
.person{
    display: none;
}
 .fa{     /*       this class represent font awesome */
font-size: 35px;
}

.footerContainer{
    margin: 10px auto;
    width: 90%;

}
.page_footer{
    height: 400px;
    background-color: #272723;
    display: flex;
    flex-direction: column;
    color: white;
}
.footerBox1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
}
.horizontalLine{
    margin: 10px;
}
.footerBox2{
    margin-top: 40px;
}
.footerBox1 div ul * {
    text-decoration: none;
    list-style-type:circle;
    color: white;
}
.box3Footer  ul li {
    text-decoration: none;
    list-style-type:none;
    color: white;
}
.footerBox1 div ul *:hover {
    text-decoration: underline;
}

.footerBox1 div{
    margin-top: 20px;
}
.footerBox1 div ul {
    margin-top: 10px;
}
.footerBox1 div ul li{
    margin-left: 14px;
}
.horizontalLine{
    margin: 10px 0;
}
.googlePlay{
    width: 50%;
    height: 50%;
    margin-top: 20px;
}
.appStore{
    width: 50%;
    height: 50%;
    margin-top: 20px;
}
nav{
    background-color: #7bae23;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 49px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 17px ;
    padding-bottom: -5px;
    font-size: 12px;
}

.MoreBlock{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: none;

}

.MoreBlock div ul li{
    list-style-type: none;
    margin-top: 5px;
    font-size:large;
    color: #777d80;
}
.mainImages{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.mainImages2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.mainImages *{
    margin: 2px;
}
.features{
    display: flex;
    flex-direction: row;
    background-color: #f1f4f5;
    height: 150px;
    justify-content: space-between;
}
.features1{
    margin: 40px 0px 0 0;
}

.features1Body{
    display: flex;
    flex-direction: row;
}

.features1Body div{
    width: 280px;
}
.features1Body i{
    margin: 10px 10px 0 10px;
}
.features1Body p{
    margin-top: -14px;
    font-size: 12px;
    overflow-wrap: break-word;
    color: rgb(179, 178, 178);
}


.features2{
    margin: 40px 0px 0 0;
}

.features2Body{
    display: flex;
    flex-direction: row;
    margin-left: 1px;
}

.features2Body div{
    width: 200px;
}
.features2Body i{
    margin: 10px 10px 0 10px;
}
.features2Body p{
    margin-top: 10px;
    font-size: 12px;
    overflow-wrap: break-word;
    color: rgb(179, 178, 178);
}


.features3{
    margin: 40px 0px 0 0;
}

.features3Body{
    display: flex;
    flex-direction: row;
    margin-left: 1px;
}

.features3Body div{
    width: 200px;
}
.features3Body i{
    margin: 10px 10px 0 10px;
}
.features3Body p{
    margin-top: 10px;
    font-size: 12px;
    overflow-wrap: break-word;
    color: rgb(179, 178, 178);
}
.FMCGgoods{
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 246, 246, 0.829);
}
.FMCG2 ul {
    display: flex;
    flex-direction: row !important;
    list-style-type: none;
    margin: 20px 10px 10px 10px;
}
.FMCG2 ul > .li1{
    margin-right: 10px;
}
.FMCG2_1{
    border: 2px solid black;
}
.FMCG2_1Text a{
    text-decoration: none;
    font-size: small;
    color: rgb(158, 157, 157);
    font-weight: bold;

}
.FMCG2_1Text div{
    margin-top: 3px;
    text-decoration: none;
}
.FMCG2_1Text div > input{
    float: right;
    background-color: rgb(233, 89, 36);
    border-color: tomato;
    color: white;
    border-radius: 19px;
    height: 35px;
    text-align: center;
    width: 120px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.FMCG2_1Text div > span{
    color: rgb(158, 157, 157);
    font-size: small;
}
.FMCG2_1Text h4{
    font-size: large;
}
.FMCGimg {
    width: 220px;
    box-shadow: silver;
}
.FMCGimg:hover {
    padding: 2px;
    box-shadow:  5px 5px 8px 4px gray;
}
.FMCG2_2{
    border: 2px solid black;
}


/* //media queries for 1000px */
@media screen and (max-width: 1000px) {
    .logo img{
        width: 138px;
        height: 30px;
    }
    #header{
        border-bottom: none;
    }
    .strip{
        display: none;
    }

    .searchBar .btnSearch{
        width: 70px;
        height: 30px;
    }
    .searchBar .textBox {

        width: 300px;
        height: 10px;
        color: white;
    }
    .slider{
        display: none;
    }
    .googlePlay{
        width: 50%;
        height: 50%;
        margin-top: 20px;
    }
    .appStore{
        width: 50%;
        height: 50%;
        margin-top: 20px;
    }
}
/* meda queries for 600px */
@media screen and (max-width: 600px) {
    .logo img{
        width: 138px;
        height: 22px;
    }
    .fa{
        font-size: 24px;
    }
    .navMain{
        display: flex;
        flex-wrap: wrap
    }
    .navMain :nth-child(1){
        order:1;
    }
    .navMain :nth-child(5){
        margin-right: 5vw;
        order:3;
        font-size: 8px;
        margin-right:20px;
    }
    .navMain :nth-child(3){
      order: 2;
      display:block;
      margin-left: 25vw;
    }
    .navMain :nth-child(4){
        flex-basis: 100%;
        height: 0;
        order: 3;
        display: none;
    }
    .navMain :nth-child(2){
        order:4;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .searchBar .btnSearch{
        width: 15vw;
        height: 35px;
    }
    .searchBar .textBox {

        width: 70vw;
        height: 35px;
        color: white;
    }
    .googlePlay{
        width: 30%;
        height: 50%;
        margin-top: 20px;
    }
    .appStore{
        width: 30%;
        height: 50%;
        margin-top: 20px;
    }
    .page_footer{
        height: auto;
    }
   .footerBox1{
       display: flex;
       flex-direction:column;
       font-size: 12px;
   }
   nav ul{
       flex-direction: column;
   }

   .mainImages{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.mainImages *{
    margin: 2px;
}

   .mainImages :nth-child(1){
    order:2;
    width: 90vw;
}
.mainImages :nth-child(2){
    order:1;
}
.mainImages1{
    display: flex;
    flex-direction: row;

}
.mainImages1 div img{
    width: 44vw !important;
    height: 100px;
}

.features{
    display: flex;
    flex-direction: column;
}
.features *{
    width: auto;
    margin-right: 1px;
    padding: 5px 0;
    background-color: #f1f4f5;
}
.features1Body p{
    width: 200px;
    font-size: 12px;
    overflow-wrap: break-word;
}
.features2Body p{
    width: 200px;
    font-size: 12px;
    overflow-wrap: break-word;
}
.features1{
    padding-left:17px ;
}

}