*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: 'times new roman', times;
    font-size: small;
    border-bottom: 4px solid #7bae23;
}
.strip{
    color: #000;
    text-transform: capitalize;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d7dbdd;
    height: 25px;

}
.container{
    margin: 0 10vw 0 auto;
  order: 2;
}
.container > *{
    padding-left: 0.5vw;
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    display: inline-block;
    text-transform: capitalize;
    font-size: 13px;
}
.footerContent{
    display: block;
}

.page_footer{
    height: 300px;
    background-color: #272723;
}
.containerFooter{
    display: flex;
    flex-direction: row;
    max-width: 500px;
    margin: auto;;
}
.containerFooter *{
    color: white;
}


