* {
  margin: 0;
  padding: 0;
  font-family: "times new roman", times;
  line-height: 1.6;
}
#header {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: small;
  border-bottom: 4px solid #7bae23;
}
.stripHeader {
  color: #000;
  text-transform: capitalize;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d7dbdd;
  height: 25px;
}

.containerHeader {
  margin: 0 10vw 0 auto;
  order: 2;
}
.containerHeader > * {
  padding-left: 0.5vw;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 13px;
}

.main{
  margin: 10px auto;
  width: 70%;
}


/* top head and search box styling */
.navMain {
  margin-top: 25px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo img {
  max-height: 35px !important;

}

.textBox {
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 4px;
  margin-right: 16px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin: 0;
  width: 300px;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btnSearch {
  box-sizing: border-box;
  width: 60px;
  height: 35px;
  right: 100px;
  color: white;
  background-color: red;
  border: 0px solid red;
}
.closebtn,
.menuButton {
  display: none;
}
.cart {
  right: 50px;
}


/* navigation styling  */
nav {
  background-color: #7bae23;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 49px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  padding: 17px;
  font-size: 12px;
}


/* navigation bar styling  */
.sidenav ul li a:hover {
  color: #f1f1f1;
}
.sidenav{
  position: relative;
}
.sidenavMenu {
  display: none;
}


/* More block styling  */
.MoreBlock {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.71);
  border-top: 10px solid skyblue;
  z-index: 20;
  width: calc(100%-40px);   
  /* position: absolute; */
  display: none;
  padding: 20px;
}

/* slider styling  */
.mainImages {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}